
.services-section {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 40px 20px;
}

.services-section h3 {
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    font-family: "Kaushan Script", cursive;
}

.services-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
}

.services-section hr {
    width: 80px;
    height: 4px;
    background-color: #f38181; 
    border: none;
    margin: 20px auto; 
    margin-bottom: 50px;
}

.services-section  .section-divider {
    width: 100%; 
    height: 2px;
    background-color: #e5e5e5; 
    border: none;
    margin: 40px 0; 
}

.services-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    margin-bottom: 30px;
}

.service-item {
    flex: 1 1 calc(33.333% - 40px); 
    max-width: 300px; 
    text-align: left;
    display: flex;
    flex-direction: row; 
    gap: 20px;
    box-sizing: border-box; 
}

.service-image {
    width: 30px;
    height: 30px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.service-image img {
    width: 35px;
    height: 35px;
   
}

.service-text h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.service-text p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color:  #888;;
    margin: 0;
}

.section-divider {
    width: 100%;
    height: 2px;
    background-color: #e5e5e5;
    border: none;
    margin: 40px 0;
}