
.containerblok4  hr{
    width: 80px;
    height: 4px;
    background-color: #f38181; 
    border: none;
    margin: 20px auto; 
    margin-bottom: 50px;
}


.containerblok4 p{
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(150, 150, 150);
    margin: 80px;
    text-align: center;
}
  